.button__btn-main {
    background-color: #1E3D8F;
    color: #FFF;
}

.button__btn-main:hover {
    color: #FFF;
    background-color: #1E3D8F;
    filter: brightness(86%)
}

.button__btn-main:focus {
    box-shadow: 0 0 0 0.25rem #D0D0D0;
}
