.form__input-text {
    border-width: 2px;
}

.form__input-text:focus {
    /* box-shadow: 0 0 0 0.25rem rgba(44, 96, 238, 0.25); */
    box-shadow: none;
    border-color: rgba(30, 61, 143);
}

.form__btn-main {
    background-color: #1E3D8F;
    color: #FFF;
}

.form__btn-main:hover {
    opacity: .8;
    color: #FFF;
    background-color: #1E3D8F;
}
